/*-----------------------------------------------------------
* Template Name    : Lina - Fully Responsive Personal Template
* Author           : Retrina Group
* Version          : 1.0.0
* Created          : March 2020
* File Description : Main css file of the template
*------------------------------------------------------------
*/

/***********************
    1.GENERAL
    2.FIXED
    3.PRELOADER
    4.OVERLAY MENU
    5.HERO
    6.ABOUT
    7.RESUME
    8.PORTFOLIO
    9.CLIENT
    10.BLOG
    11.CONTACT
    12.SINGLE BLOG
    13.SINGLE PORTFOLIO
    14.RESPONSIVE
************************/
/*-------------------------
         GENERAL
-------------------------*/
body{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    background-color: #f1f3f6!important;
}
.section{
    background-color: #f1f3f6!important;
}
.full-screen {
    height:100vh;
}
h1, h2, h3, h4, h5, h6, .h1{
    font-family: 'Poppins', sans-serif;
    line-height: 1.618;
}
.h1{
    margin-top: 0;
    margin-bottom: .5rem;
}
.z-index{
    z-index: 2;
}
.w-40{
    width: 40% !important;
}
h2,
h2 span{
    font-weight: 700;
}
.pt-6, .py-6{
    padding-top: 6rem;
}
.pb-6, .py-6{
    padding-bottom: 6rem;
}
.mr-4r{
    margin-right: 4rem;
}
.ml-4r{
    margin-left: 4rem;
}
.max-width-450 {
    max-width: 450px;
    margin: 0 auto;
}
a:hover{
    text-decoration: none;
}
a, button{
    outline: none !important;
}
.box-border, .box-hover-border{
    background-color: #f1f3f6;
    border-radius: 1.25rem;
    box-shadow:3px 3px 3px #e1e1e1, -3px -3px 3px #fff;
}
.box-hover-border:hover{
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}
.button-border{
    background: #f1f3f6;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    display: inline-block;
    padding: 1px;
    border-radius: 1rem;
}
.pill-button{
    border-radius: 1rem;
    border: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    display: inline-block;
    color: #018abe;
}
.pill-button:hover, .pill-button.active{
    border:none;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}
.image-border {
    background-color: #f1f3f6;
    border-radius: 1.25rem;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    padding: 5px;
}
.image-border img{
    width: 100%;
    border-radius: 1rem;
}
.display-table{
    display: table;
    width: 100%;
    height: 100%;
}
.display-content{
    vertical-align: middle;
    display: table-cell;
    padding: 100px 0;
}
.center-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bg-base-color{
    background-color: #018abe !important;
}
.base-color{
    color: #018abe !important;
}
.dark-color{
    color: #5f5f5f;
}
.dark-bg{
    background-color: #2c2d30;
}
.title-wrapper{
    text-align: center;
    font-size: 79px;
    font-weight: 900;
    color: rgba(95, 95, 95, .1);
    font-family: 'Poppins', sans-serif;
}
.title-content{
    text-align: center;
    position: relative;
    top: -70px;
}
.title-content h2{
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 0;
}
/*-------------------------
         Fixed
-------------------------*/
header {
    padding: 15px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 1030;
    top: 0;
}
.logo{
    color: #5f5f5f;
    font-weight: 600;
    font-size: 24px;
    margin-left: 14px;
}
.logo:hover{
    color: #5f5f5f;
}
.social-box{
    position: absolute;
    left: 1.5rem;
    bottom: 0;
    width: 1.5rem;
    z-index: 100;
}
.follow-label{
    padding-right: 5rem;
    position: absolute;
    bottom: 100%;
    right: 0;
    color: #5f5f5f;
    line-height: 1.5rem;
    height: 1.5rem;
    white-space: nowrap;
    transform-origin: 100% 0;
    text-align: right;
    transform: rotate(90deg);
}
.follow-label:before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 60px;
    height: 2px;
    background-color: #018abe;
}
.social i{
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}
.social a{
    color: #5f5f5f;
}
.social a:hover{
    color: #018abe !important;
}
.social-icon a{
    background-color: #f1f3f6;
    transition: all 0.3s ease;
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    border-radius: 4px;
    text-align: center;
}
.social-icon a:hover{
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
}
.social-icon .list-inline-item:not(:last-child) {
    margin-right: 12px;
}
.social-icon a{
    color: #5f5f5f;
}
.social-icon a:hover{
    color: #018abe;
}
#pp-nav li{
    margin: 10px 8px;
    width: 39px;
}
#pp-nav li:hover span{
    background-color: #018abe !important;
}
#pp-nav li span{
    width: 32px;
    height: 4px;
    border-radius: 25px;
    background-color: #5f5f5f;
    border: none;
    top: 5px;
}
#pp-nav li .active span{
    background-color: #018abe !important;
}
#pp-nav li .active span::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: transparent;
    top: -6px;
    border: 2px solid #018abe;
}
#pp-nav li .active span:after{
    content: '';
    position: absolute;
    left: -15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: transparent;
    top: -1px;
    border: 2px solid  #018abe;
}
#pp-nav li .pp-tooltip {
    font-size: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
    transform: translateY(-3px);
    padding-right: 1.5rem;
    color: #5f5f5f !important;
}
#pp-nav li .active ~ .pp-tooltip {
    padding-right: 2.5rem;
}
#pp-nav.right {
    right: 28px;
}

/*-------------------------
        PRELOADER
-------------------------*/
#overlayer {
    position:fixed;
    z-index:9999;
    background:#fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    z-index:99999;
    border: 4px solid #ebebeb;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border-top: 4px solid #018abe !important;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*-------------------------
    OVERLAY MENU
-------------------------*/
.overlay-menu {
    background-color: #222;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1030;
    opacity: 0;
    visibility: hidden;
}

.overlay-menu a:hover {
    color: #018abe !important;
}

.overlay-menu a.active {
    color: #018abe !important;
}

.overlay-menu .overlay-menu-list {
    width: 100%;
}

.overlay-menu .overlay-menu-list .overlay-nav > ul {
    width: 50%;
    float: left;
}

.overlay-menu .overlay-menu-list .overlay-nav a, .overlay-menu .overlay-menu-list .overlay-nav span, .overlay-menu .overlay-menu-list .overlay-nav p {
    color: #fafafa;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0.75rem;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.overlay-menu .overlay-menu-list .overlay-nav .contact-info li:first-child span {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}
.overlay-menu .overlay-menu-list .overlay-nav .contact-info li span i {
    font-size: 18px;
    position: relative;
    top: 2px;
}
.overlay-menu .overlay-menu-list .overlay-nav .contact-info .socails li i {
    font-size: 20px;
    font-weight: 400;
}
.overlay-menu .overlay-menu-list .list-group-item {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent !important;
    text-transform: uppercase;
}
.overlay-menu.show {
    opacity: 1;
    visibility: visible;
    cursor: url(../img/cursor-white.png), auto;
}
.pilling-page .overlay-menu .overlay-menu-list .list-group-item {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent !important;
    text-transform: uppercase;
}
.overlay-menu-toggler {
    position: absolute;
    top: 5px;
    color: #5f5f5f !important;
    padding: 10px;
    right: 24px;
    z-index: 1029;
    border-radius: 0 4px 4px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}
.overlay-menu-toggler.move {
    opacity: 0;
}
/*-------------------------
          HERO
-------------------------*/
.hero .personal-item h1 {
    font-size: 2rem !important;
}
.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    right: 0;
}
.hero .hero-content p {
    max-width: 500px;
}
/*-------------------------
          HERO-01
-------------------------*/
.hero-01 .hero-item1 {
    background: url("../img/slider-01.jpg") no-repeat center;
    box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.9);
}
.hero-01 .hero-item2 {
    background: url("../img/slider-02.jpg") no-repeat center;
    box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
}
.hero-01 .hero-item3 {
    background: url("../img/slider-03.jpg") no-repeat center;
    box-shadow: inset 0 0 0 2000px rgba(250, 250, 250, 0.8);
}
.hero-01 .hero-slide {
    background-size: 100%;
}
.hero-01 #hero-slider {
    opacity: 0.6;
}
.hero-01 .hero-slide.zoom {
    background-size: 200%;
    -webkit-transition: background-size 20s ease;
    transition: background-size 20s ease;
}
.hero-01 .scroll-down span {
    text-align: center;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    left: calc(50% - 8px);
    width: 30px;
    height: 50px;
    border: 3px solid #3c3c3c;
    border-radius: 50px;
}
.hero-01 .scroll-down span:before{
    position: absolute;
    content: '';
    width: 6px;
    height: 10px;
    left: calc(50% - 3px);
    margin-top: 10px;
    background-color: #3c3c3c;
    border-radius: 5px;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/*-------------------------
          HERO-02
-------------------------*/
canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: 1;
}
.particles-js-canvas-el{
    position: absolute;
    top: 0;
    z-index: 1000;
}

.hero-02 .scroll-down {
    text-align: center;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    left: calc(50% - 8px);
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.hero-02 .scroll-down a:before{
    color: #5f5f5f;
    content: '\f103';
    font-family: 'FontAwesome','sans-serif';
    font-size: 20px;

}
/*-------------------------
          HERO-03
-------------------------*/
.hero-image img{
    z-index: 10;
    position: relative;
}

.circle{
    width: 85px;
    height: 85px;
    background: #018abe;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    top: 150px;
    right: 34px;
    overflow: hidden;
    animation: circling 18s linear infinite;
    z-index: 11;
}
@keyframes circling{
    0%{
        transform:rotate(0deg)
        translate(-80px)
        rotate(0deg);

    }
    100%{
        transform:rotate(360deg)
        translate(-80px)
        rotate(-360deg);
    }
}
.circle-2{
    width:55px;
    height:55px;
    background: #d885ff;
    border-radius:50%;
    opacity: 0.4;
    position:absolute;
    top:250px;
    bottom:250px;
    left:80px;
    right:0;
    overflow:hidden;
    margin:auto;
    animation: circlereverse 22s linear infinite;
    z-index: 11;
}

@keyframes circlereverse{
    0%{
        transform: rotate(0deg)
        translate(-275px)
        rotate(0deg);

    }
    100%{
        transform: rotate(-360deg)
        translate(-275px)
        rotate(360deg);
    }
}
.circle-3{
    width:75px;
    height:75px;
    background: #ffba20;
    border-radius:50%;
    opacity: 0.4;
    position:absolute;
    top:10px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 15s linear infinite;
    z-index: 11;
}

@keyframes circle{
    0% {
        transform: rotate(0deg)
        translate(-275px)
        rotate(0deg);
    }
    100% {
        transform: rotate(360deg)
        translate(-275px)
        rotate(-360deg);
    }
}

.floating{
    width:50px;
    height:50px;
    background:#d23e50;
    border-radius:50%;
    opacity: 0.4;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1;
    animation: floating 5s linear infinite
}
@keyframes floating{
    0%{
        transform: translate(0px);

    }
    50% {
        transform: translate(-50px);
    }
    100% {
        transform: translate(0px);
    }
}
.square {
    position: absolute;
    bottom: 25px;
    z-index: 0;
    left: -10px;
    -webkit-animation: rotate 25s linear infinite;
    animation: rotate 25s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);
    }
}

/*-------------------------
          About
-------------------------*/
.about .personal-info ul li{
    margin-bottom: 1.25rem;
    color: #5f5f5f;
}
.about .personal-info ul li p{
    font-weight: 400;
}
.about .personal-info span{
    font-weight: 300;
    color: #6c757d;
}

/*-------------------------
         Count up
-------------------------*/
.count-up{
    margin: 32px 0;
    padding:32px 16px;
}
.count-item p{
    color: #5f5f5f;
    font-size: 14px;
}
.count-number{
    font-size: 22px;
    font-weight: 500;
    color: #5f5f5f;
}
.count-content{
    margin: 10px 0;
}
.count-icon i{
    font-size: 36px;
}
/*-------------------------
          Resume
-------------------------*/
.timeline-area:before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 50%;
    background-color: #f1f3f6;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;

}
.timeline{
    position: relative;
    display: flex;
    align-items: flex-start;
}
.timeline:not(:last-child){
    margin-bottom: 32px;
}
.timeline-item{
    width: calc(50% - 60px);
    position: relative;
    padding: 32px;
}
.timeline-info{
    align-self: center;
}
.timeline-icon{
    width: 50px;
    height: 50px;
    line-height: 48px;
    border-radius: 50%;
    transition: all 0.4s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    z-index: 10;
    background: #f1f3f6;
    font-size: 20px;
    color: #018abe;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
}
.timeline:nth-child(2n){
    flex-direction: row-reverse;
}
/*-------------------------
          SKILL
-------------------------*/
.skill-boxes{
    padding: 24px 0;
}
.skill-box {
    padding:51px 30px 30px;
}
.skill-box .skillbar {
    position: relative;
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    transition: 0.1s linear;
    background-color: #f1f3f6;
    box-shadow:  inset 3px 3px 8px rgba(55,84,170,0.3), inset -3px -3px 8px rgb(255,255, 255);
}
.skill-box .skillbar:not(:last-child) {
    margin-bottom: 43px;
}
.skill-box .skillbar-title {
    position: absolute;
    top: -28px;
    left: -17px;
    font-weight: 600;
    font-size: 14px;
    color: #5f5f5f;
}
.skill-box .skillbar-title span {
    margin-left: 18px;
}

.skill-box .fill-skillbar {
    height:7px;
    border-radius: 5px;
    float: left;
    background-color: #018abe;
}
.skill-box .skill-bar-percent {
    position: absolute;
    font-weight: 500;
    bottom: 16px;
    right: 0;
    color: #5f5f5f;
}
.ability{
    color: #fff;
}
.ability ul li:before{
    content: "\e94b";
    font-family: "LineIcons" , sans-serif;
    float: left;
    padding-right: 0.5rem;
}
.ability ul{
    margin-left: 1rem;
}
.language-bar {
    padding:35px 30px;
    margin-top: 30px;
}
.language-skill:not(:last-child){
    margin-bottom: 15px;
}
.language-skill h4 {
    font-size: 16px;
}
.language-skill h4 span {
    color: #999;
    font-size: 14px;
    font-weight: normal;
}
.language-skill ul li i{
    color: #018abe;
}
/*-------------------------
         Services
-------------------------*/
.services-item {
    margin-top: 30px;
    transition: .5s all ease;
}
.services-item:hover {
    transform: translateY(-10px);
}
.services-item h5 {
    margin-top: 8px;
}

/*-------------------------
         PORTFOLIO
-------------------------*/
.portfolio .portfolio-filter .list-inline-item:not(:last-child) {
    margin-bottom: 1rem;
}
.portfolio .portfolio-filter li a {
    padding:5px 15px;
    color: #018abe;
}
.portfolio .portfolio-item {
    margin-top:30px;
}
.portfolio .portfolio-item-content {
    position:relative;
    border-radius: 1.25rem;
}
.portfolio .portfolio-item-content:hover .img-overlay-content {
    opacity:1;
}
.portfolio .portfolio-item-content:hover::before {
    transform:scale(1);
    opacity:1;
}
.portfolio .portfolio-item-content::before {
    content:"";
    position:absolute;
    top:15px;
    right:15px;
    bottom:15px;
    left:15px;
    opacity:0;
    transform:scale(0.8);
    transition:.5s all ease;
    border-radius:1.25rem;
    background-color: rgba(1, 138, 190, 0.8);
}
.portfolio .img-overlay-content {
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    opacity:0;
    transition:all .5s ease;
}
.portfolio .img-overlay-content h5{
    color: #fff;
}
.portfolio .portfolio-icon a {
    background-color:#fff;
    width:35px;
    height:35px;
    line-height:37px;
    margin:0 8px;
    display:inline-block;
    border-radius:4px;
    transition:all 0.3s ease;
}
.portfolio .portfolio-icon a i , .portfolio .portfolio-icon button i {
    font-size:18px;
    font-weight: 700;
}
.portfolio .portfolio-icon button i{
    position: relative;
    left: -2px;
    color: #018abe;
}
.portfolio .portfolio-icon button{
    background-color:#fff;
    width:35px;
    height:35px;
    line-height:33px;
    margin:0 8px;
    display:inline-block;
    border-radius:4px;
    transition:all 0.3s ease;
    border-color:transparent;
}
.portfolio .portfolio-icon button:focus{
    outline: none !important;
}
/*-------------------------
       TESTIMONIAL
-------------------------*/
.testimonial-item{
    padding: 0 32px 32px;
}
.testimonial h5{
    font-size: 14px;
    margin-top: 16px;
}
.testimonial .owl-carousel .owl-stage-outer {
    padding: 1rem 0;
}
.testimonial .owl-carousel .testimonial-image{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    padding: 10px;
    margin-top: -60px;
    background-color: #f1f3f6;
    width: 115px;
    height: 115px;
}
.testimonial .owl-carousel .testimonial-image:before{
    content: '';
    position: absolute;
    top: 0;
    left: 2px;
    width: 92%;
    height: 40%;
    background-color: #f1f3f6;
    z-index: 1;
    right: 6px;
}
.testimonial .owl-carousel .testimonial-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    border-radius: 50%;
    z-index: 0;
}
.testimonial-image-border {
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    z-index: 2;
}
.testimonial .owl-carousel .testimonial-item img{
    width: 85px;
    display: inline-block;
    border-radius: 50%;
}
.testimonial .testimonial-item:hover .testimonial-border{
    width: 90px;
}
.testimonial .owl-item{
    padding-top: 2rem;
}
.testimonial .owl-dots{
    text-align: center;
    margin-top: 1rem;
}
.testimonial .owl-dot span{
    display: block;
    width: 24px;
    height: 5px;
    background-color: #e1e1e1;
    margin: 0 4px;
    border-radius: 1rem;
    transition: all 0.3s ease;
}
.testimonial .owl-dot.active span {
    width: 2rem;
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    background-color: #018abe;
}
.testimonial-image .img-thumbnail{
    background-color: transparent;
}
.testimonial .testimonial-border{
    height: 2px;
    width: 65px;
    margin: 16px auto;
    transition: all 0.5s;
    background-color: #018abe;
}
.testimonial .testimonial-item:hover .testimonial-border{
    width: 90px;
}
/*-------------------------
          BLOG
-------------------------*/
.blog-item{
    padding: 30px;
    margin: 60px 0 30px;
}
.blog-image{
    position: relative;
}
.blog-content .list-inline-item:not(:last-child) {
    margin-right: 3rem;
}
.blog-image{
    position: relative;
    display: inline-block;
    border-radius: 1.25rem;
    padding: 10px;
    margin-top: -88px;
    background-color:#f1f3f6;
}
.blog-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    width: auto;
    height: 57px;
    background-color:#f1f3f6;
    z-index: 1;
    right: 45px;
}
.blog-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    border-radius: 1.25rem;
    z-index: 0;
}
.blog-intro {
    box-shadow: 3px 3px 3px #dadada, -3px -3px 3px #fafafa;
    border-radius: 1.25rem;
    padding: 5px;
    position: relative;
    z-index: 2;
    display: block;
}
.blog-intro img{
    display: inline-block;
    border-radius: 1rem;
    width: 100%;
}
.blog-link a:hover{
    color: #067ba8 !important;
}
.blog-content h6 a.dark-color:hover, .blog-content h6 a.dark-color:focus{
    color: #424242 !important;
}
/*-------------------------
          CONTACT
-------------------------*/
::-moz-placeholder, .form-control::-moz-placeholder {
    color: #6c757d ;
}
.contact .form-item .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    height: 44px;
    font-size: 14px;
    position: relative;
    transition: border .9s ease;
}
.contact-form textarea {
    min-height: 175px;
    resize: none;
}
#message.toast {
    max-width: 500px;
    padding: 2px 0 1px;
    position: absolute;
    top: -2px;
    display: inline-block;
    left: 200px;
    border-radius: 1rem;
    color:#fff;
}
.toast button span {
    position: relative;
    top: 8px;
}
.contact .form-item .form-group{
    background-color: #f1f3f6;
    box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    -webkit-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    -moz-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    -o-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    -ms-box-shadow: inset 3px 3px 3px #dadada, inset -3px -3px 3px #fafafa;
    border-radius: 1.25rem;
}
.contact .form-item .form-control {
    padding: 1rem;
    border: none;
    color: #018abe;
}
.contact-info ul li{
    margin-top: 1.5rem;
}
.contact-info ul li i {
    margin-right: 0.5rem;
}
.copy-right{
    position: relative;
    top: 5rem;
}
/*-------------------------
        SINGLE BLOG
-------------------------*/
.blog-single .modal-content{
    background-color: #f1f3f6;
}
.blog-single .close{
    color: #6c757d;
    text-shadow: none;
}
.blog-single img{
    width: 100%;
    border-radius: 1rem;
}
.comments img {
    width:80px;
    border-radius:50%;
}
.comments .comment-info {
    margin-left:100px;
}
.modal-dialog {
    max-width: 75%;
}
/*-------------------------
      SINGLE Portfolio
-------------------------*/
.portfolio-single .modal-content{
    background-color: #f1f3f6;
}
.portfolio-single .close{
    color: #6c757d;
    text-shadow: none;
}
.portfolio-single-item img{
    border-radius: 1rem;
    width: 100%;
}
/*-------------------------
       COLOR SCHEME
-------------------------*/
.color-scheme {
    position: fixed;
    z-index: 999;
    right: 31px;
    top: 75px;
    padding: .5rem .75rem;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.color-scheme:hover {
    color: #ffffff;
}

.color-scheme i {
    position: relative;
    top: 1px;
}

/*-------------------------
           Media
-------------------------*/
@media (min-width: 1200px) {
    .pilling-page .container {
        max-width: 1050px;
    }
}
@media (max-width: 1199px) {
    .section {
        padding-right: 6rem;
        padding-left: 6rem;
    }

    .hero-01 .hero-slide {
        background-size: auto 100%;
    }

    .hero-01 .hero-slide.zoom {
        background-size: auto 200%;
    }
    .about .personal-info span {
        display: block;
    }
    .blog-content .list-inline-item {
        margin-right: 0
    }
    .modal-dialog {
        max-width: 100%;
    }
    .testimonial .owl-item.active{
        margin-right: 7.5rem !important;
    }
    .testimonial .owl-carousel .owl-stage-outer{
        height: auto;
        max-height: 320px;
    }
    .testimonial .owl-stage{
        height: auto;
        max-height: 320px;
    }
    .testimonial .owl-dots{
        margin-top: 0;
    }
}
@media (min-width: 992px)and (max-width: 1080px){
    .testimonial .owl-dots{
        margin-right: 6rem;
    }
}
@media (max-width: 991px) {
    header {
        background-color: #f9f9f9;
        -webkit-box-shadow: 0 1px 3px 0 #eee;
        box-shadow: 0 1px 3px 0 #eee;
    }
    .hero-03 .hero-content{
        text-align: center;
        margin-top: 32px;
    }
    .title-wrapper {
        font-size: 64px;
    }
    .title-content h2 {
        font-size: 36px;
    }
    .title-content {
        top: -58px;
    }
    .timeline{
        display: block;
    }
    .timeline:not(:last-child) {
        margin-bottom: 48px;
    }
    .timeline-item{
        width: 100%;
        padding: 0 0 16px 32px;
        margin-left: 0;
    }
    .timeline-content , .timeline-info{
        text-align: left!important;
    }
    .timeline-info{
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: 32px;
        font-size: 14px;
    }
    .timeline-icon{
        left: -15px;
    }
    .timeline-area:before{
        left: 0;
    }
    .timeline .box-border{
        background-color: transparent;
        box-shadow: none;
    }
    .contact-info-text{
        margin-top: 48px;
    }

}
@media (max-width: 767px) {
    .overlay-menu-toggler {
        right: 0.5rem;
    }
    .overlay-menu .overlay-menu-list .overlay-nav a, .overlay-menu .overlay-menu-list .overlay-nav span, .overlay-menu .overlay-menu-list .overlay-nav p {
        font-size: 12px;
        padding: 0.5rem;
    }
    #pp-nav, .social-box {
        display: none;
    }
    .section {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 2rem;
    }
    .color-scheme {
        right: 15px;
    }
}
@media (max-width: 610px) {
    .timeline-area:before{
        left: 15px;
    }
    .timeline-icon{
        width: 20px;
        height: 20px;
        left: -9px;
        line-height: 18px;
        transform: translateX(0%) translateY(-50%);
        font-size: 10px;
    }
}
@media (max-width: 575px) {
    .overlay-nav a, .overlay-nav span, .overlay-nav p {
        padding: 0.5rem;
        letter-spacing: 1px;
    }
    .overlay-menu .overlay-menu-list .overlay-nav > ul {
        width: 100%;
        float: none;
        margin-bottom: 2rem;
    }
    .hero-01 .scroll-down span, .hero-02 .scroll-down {
        bottom: 64px;
    }
    .title-wrapper {
        font-size: 48px;
    }
    .title-content {
        top: -44px
    }
    .title-content h2 {
        font-size: 32px;
    }
    .testimonial .display-table, .testimonial .display-content {
        display: block;
    }
    .testimonial .testimonial-item {
        padding: 16px;
    }
    .testimonial .owl-carousel .owl-stage-outer{
        height: auto;
        max-height: 335px;
    }
    .testimonial .owl-stage{
        height: auto;
        max-height: 335px;
    }
}

/*-------------------------
         Dark Demo
-------------------------*/
.dark-demo .section{
    background-color: #2c2d30 !important;
}
.dark-demo #pp-nav li span{
    background-color: #fafafa;
}
.dark-demo .social-icon a {
    background-color: #2c2d30;
    color: #fafafa;
    box-shadow:  3px 3px 3px rgba(28, 28, 30, 0.3), -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .social-icon a:hover{
    color: #018abe;
}
.dark-demo .social-icon a:hover{
    box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .hero-01 .scroll-down span {
    border: 3px solid #fafafa;
}
.dark-demo .hero-01 .scroll-down span:before{
    background-color: #fafafa;
}
.dark-demo .hero-02 .scroll-down a:before{
    color: #fafafa;
}
.dark-demo .box-border, .dark-demo .box-hover-border{
    background-color: #2c2d30;
    box-shadow: 3px 3px 3px rgba(28, 28, 30, 0.3),  -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .box-hover-border:hover{
    box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .button-border{
    background: #2c2d30;
    box-shadow:  3px 3px 3px rgba(28, 28, 30, 0.3), -3px -3px 3px rgba(93, 95, 101, .3);
    display: inline-block;
    padding: 1px;
    border-radius: 1rem;
}
.dark-demo .pill-button:hover, .dark-demo .pill-button.active{
    border:none;
    box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .image-border, .dark-demo .timeline-icon, .dark-demo .timeline-area::before {
    background-color: #2c2d30;
    box-shadow: 3px 3px 3px rgba(28, 28, 30, 0.3), -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .skill-box .skillbar {
    background-color: #1f2022;
    box-shadow: inset 3px 3px 8px rgba(24,24,24,0.5), inset -3px -3px 8px rgba(83, 83, 83, 0.4);
}
.dark-demo .testimonial-image-border{
    background-color: #2c2d30;
    box-shadow:  3px 3px 3px rgba(28, 28, 30, 0.3),-3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .testimonial .owl-dot.active span, .dark-demo .testimonial .owl-carousel .testimonial-image::after {
    box-shadow: -1px -1px 4px rgba(83, 83, 83, 0.4), 1px 1px 4px rgba(0,0, 0,0.35);
}
.dark-demo .testimonial .owl-carousel .testimonial-image::before, .dark-demo .testimonial .owl-carousel .testimonial-image::after,
.dark-demo .testimonial .owl-carousel .testimonial-image
{
    background-color: #2c2d30;
}
.dark-demo .blog-item:before, .dark-demo .blog-image{
    background-color: #2c2d30;
}
.dark-demo .contact .form-item .form-group{
    background-color:  #2c2d30;
    box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
    -webkit-box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
    -moz-box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
    -o-box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
    -ms-box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
}

.dark-demo .blog-image:after{
    box-shadow: inset 3px 3px 3px rgba(28, 28, 30, 0.3), inset -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .blog-intro{
    box-shadow: 3px 3px 3px rgba(28, 28, 30, 0.3), -3px -3px 3px rgba(93, 95, 101, .3);
}
.dark-demo .hero-01 .hero-item1:before,.dark-demo .hero-01 .hero-item2:before, .dark-demo .hero-01 .hero-item3:before {
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
}
.dark-demo .title-wrapper{
    color: rgba(250, 250, 250, 0.1);
}
.dark-demo .dark-color, .dark-demo .overlay-menu-toggler, .dark-demo #pp-nav li .pp-tooltip{
    color: #fafafa !important;
}
.dark-demo .text-muted{
    color: #e3e5d2 !important;
}
.dark-demo .follow-label, .dark-demo .social a, .dark-demo .logo{
    color: #fafafa;
}
.dark-demo .count-number, .dark-demo .count-item p, .dark-demo .about .personal-info ul li,
.dark-demo .skill-box .skillbar-title, .dark-demo .skill-box .skill-bar-percent{
    color: #fafafa;
}
.dark-demo .about .personal-info span{
    color: #e3e5d2;
}
.dark-demo .blog-content h6 a.dark-color:hover, .dark-demo .blog-content h6 a.dark-color:focus{
    color: #e3e5d2 !important;
}
.dark-demo .portfolio-single .modal-content, .dark-demo .blog-single .modal-content{
    background-color: #2c2d30;
}
@media (max-width: 991px) {

    .dark-demo header {
        background-color: #2c2d30 !important;
        -webkit-box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.4);
        box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.4)
    }
    .dark-demo .timeline .box-border {
        background-color: transparent;
        box-shadow: none;
    }
}
/*-------------------------
   Mono Color  Light
-------------------------*/
.mono .base-color, .mono .pill-button ,.mono .social a:hover, .mono .logo:hover,
.mono .contact .form-item .form-control {
    color: #3c3c3c !important;
}
.mono .bg-base-color {
    background-color: #5f5f5f !important;
}
.mono #pp-nav li .active span, .mono #pp-nav li:hover span {
    background-color: #3c3c3c !important;
}
.mono #pp-nav li .active span::before, .mono #pp-nav li .active span::after {
    border: 2px solid #3c3c3c;
}
.mono .menu-toggler span i{
    color: #5f5f5f !important;
}
.mono .follow-label:before, .mono .skill-box .fill-skillbar, .mono .testimonial .testimonial-border,
.mono .testimonial .owl-dot.active span, .mono .blog-content:before{
    background: #5f5f5f;
}
.mono .social-icon a:hover {
    color: #3c3c3c;
}
.mono .loader {
    border-top: 4px solid #4f4f4f !important;
}
.mono .portfolio .portfolio-item-content::before {
    background-color:rgba(42, 42, 43, 0.8)
}
.mono .portfolio .portfolio-icon a i, .mono .portfolio-icon button i,
.mono .timeline-icon{
    color: #5f5f5f;
}
.mono .blog-link a.base-color:hover{
    color: #1c1c1c !important;
}
.mono .portfolio .portfolio-icon a,
.mono .portfolio .portfolio-icon button {
    background: #fafafa;
}
.mono .overlay-menu a:hover {
    color: #acacac !important;
}
/*-------------------------
   Mono Color Dark
-------------------------*/
.dark-demo.mono .color-scheme.text-white{
    color: #5f5f5f !important;
}
.dark-demo.mono .bg-base-color {
    background-color: #fafafa !important;
}
.dark-demo.mono .base-color, .dark-demo.mono .pill-button ,.dark-demo.mono .social a:hover,
.dark-demo.mono .logo:hover, .dark-demo.mono .contact .form-item .form-control {
    color: #e3e5d2 !important;
}
.dark-demo.mono #pp-nav li .active span, .dark-demo.mono #pp-nav li:hover span {
    background-color: #e3e5d2 !important;
}
.dark-demo.mono #pp-nav li .active span::before, .dark-demo.mono #pp-nav li .active span::after {
    border: 2px solid #e3e5d2;
}
.dark-demo.mono .follow-label:before, .dark-demo.mono .skill-box .fill-skillbar, .dark-demo.mono .testimonial .testimonial-border,
.dark-demo.mono .testimonial .owl-dot.active span, .dark-demo.mono .blog-content:before{
    background: #fafafa;
}
.dark-demo.mono .portfolio .portfolio-item-content::before {
    background-color: rgba(250, 250, 250, .7);
}
.dark-demo.mono .portfolio .portfolio-icon a i, .dark-demo.mono .portfolio-icon button i,
.dark-demo.mono .timeline-icon{
    color: #fafafa;
}
.dark-demo.mono .blog-link a.base-color:hover{
    color: #acacac !important;
}
.dark-demo.mono .portfolio .portfolio-icon a,
.dark-demo.mono .portfolio .portfolio-icon button {
    background: #5f5f5f;
}
.dark-demo.mono .img-overlay-content h5 {
    color: #5f5f5f;
}
.dark-demo.mono .social-icon a:hover {
    color: #fafafa;
}
/*-------------------------
      Flat Demo Light
-------------------------*/
.flat-demo .section{
    background-color: #f9f9f9 !important;
}
.flat-demo .button-border{
    box-shadow: none;
    padding: 0;
}
.flat-demo .pill-button{
    background-color: #018abe;
    border: 1px solid #018abe;
    transition: all 0.3s ease;
}
.flat-demo .pill-button:hover{
    background-color: #067ba8;
    border: 1px solid #067ba8;
    box-shadow: none;
}
.flat-demo .pill-button.active{
    box-shadow: none;
}
.flat-demo .pill-button{
    color: #fafafa;
}
.flat-demo .box-border, .flat-demo .box-hover-border{
    background-color: transparent;
    box-shadow: none;
}
.flat-demo .box-hover-border:hover {
    box-shadow: none;
}
.flat-demo .title-wrapper {
    color: rgba(170, 170, 170, 0.1);
}
.flat-demo .image-border{
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}
.flat-demo .about .image-border img{
    padding: 4px;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    height: auto;
}
.flat-demo .skill-box .skillbar{
    background-color: #f0f0f0;
}
.flat-demo .skill-box .skillbar{
    box-shadow: none;
}
.flat-demo .timeline-area::before {
    background-color: #018abe;
    box-shadow: none;
}
.flat-demo .timeline-icon{
    background-color: #f9f9f9;
    box-shadow: none;
    border: 1px solid #018abe;
}
.flat-demo .services-item, .flat-demo .timeline-item{
    background-color: rgba(246, 246, 246, 0.5);
}
.flat-demo .portfolio-filter .pill-button{
    background-color: transparent;
    border: none;
}
.flat-demo .portfolio-filter .pill-button.active, .flat-demo .portfolio-filter .pill-button:hover{
    color: #fafafa;
    background-color: #018abe;
}
.flat-demo .portfolio-filter .pill-button{
    color: #3c3c3c;
}
.flat-demo .testimonial-item{
    background-color: rgba(246, 246, 246, 0.5);
}
.flat-demo .testimonial .owl-carousel .testimonial-image::after,
.flat-demo .testimonial .owl-carousel .testimonial-image::before{
    display: none;
}
.flat-demo .testimonial-image-border, .flat-demo .testimonial .owl-dot.active span{
    box-shadow: none;
}
.flat-demo .testimonial-image-border img{
    padding: 4px;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    height: auto;
}
.flat-demo .testimonial .owl-carousel .testimonial-image{
    background-color: transparent;
}
.flat-demo .testimonial-image-border{
    background-color: #f9f9f9;
}
.flat-demo .portfolio-filter .button-border{
    background: transparent;
}
.flat-demo .blog-item{
    background-color: rgba(246, 246, 246, 0.5);
}
.flat-demo .blog-item::before, .flat-demo .blog-image::after{
    display: none;
}
.flat-demo .blog-intro{
    box-shadow: none;
}
.flat-demo .blog-image{
    background-color: #f9f9f9;
    padding: 0;
}
.flat-demo .contact .form-item .form-group{
    box-shadow: none;
    background-color: rgba(246, 246, 246, 0.5);
}
.flat-demo .blog-single .modal-content, .flat-demo .portfolio-single .modal-content{
    background-color: #f9f9f9;
}
.flat-demo  .hero-content img{
    padding: 4px;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    height: auto;
}
.flat-demo .social-icon a{
    background-color: transparent;
    box-shadow: none;
    width: auto;
    height: auto;
}
.flat-demo .social-icon a:hover{
    color: #018abe;
    box-shadow: none;
}
.flat-demo .social-icon .list-inline-item:not(:last-child) {
    margin-right: 32px;
}
.flat-demo .hero-image .image-border img{
    padding: 4px;
    background-color: transparent;
    border: 1px solid #f0f0f0;
    max-width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    .flat-demo .timeline-item{
        background-color: transparent;
        box-shadow: none;
    }
}

/*-------------------------
      Flat Demo Dark
-------------------------*/
.flat-demo.dark-demo .section{
    background-color: #2c2d30 !important;
}
.flat-demo.dark-demo .title-wrapper {
    color: rgba(250, 250, 250, 0.1);
}
.flat-demo.dark-demo .about .image-border img, .flat-demo.dark-demo .hero-image .image-border img {
    border: 1px solid #5f5f5f;
}
.flat-demo.dark-demo .timeline-icon {
    background-color: #2c2d30;
}
.flat-demo.dark-demo .services-item, .flat-demo.dark-demo .timeline-item{
    background-color: rgba(52, 53, 57, 0.9);
}
.flat-demo.dark-demo .portfolio-filter .pill-button {
    color: #e3e5d2;
}
.flat-demo.dark-demo .testimonial-item{
    background-color: rgba(52, 53, 57, 0.9);
}
.flat-demo.dark-demo .testimonial .owl-carousel .testimonial-image {
    background-color: transparent;
}
.flat-demo.dark-demo  .testimonial-image-border{
    background-color: #2c2d30;
}
.flat-demo.dark-demo .testimonial-image-border img {
    border: 1px solid #5f5f5f;
}
.flat-demo.dark-demo .blog-item{
    background-color: rgba(52, 53, 57, 0.9);
}
.flat-demo.dark-demo .blog-image{
    background-color: #2c2d30;
}
.flat-demo.dark-demo .contact .form-item .form-group {
    background-color: rgba(52, 53, 57, 0.9);
}
.flat-demo.dark-demo .blog-single .modal-content, .flat-demo.dark-demo .portfolio-single .modal-content {
    background-color: #2c2d30;
}
@media (max-width: 991px) {
    .flat-demo.dark-demo .timeline-item {
        background-color: transparent;
        box-shadow: none;
    }
}
/*-------------------------
    Mono Flat Demo Light
-------------------------*/
.flat-demo.mono .pill-button {
    background-color: #5f5f5f;
    border: 1px solid #5f5f5f;
    color: #fafafa !important;
}
.flat-demo.mono .pill-button:hover {
    background-color: #3c3c3c;
    border: 1px solid #3c3c3c;
}
.flat-demo.mono .timeline-area::before {
    background-color: #5f5f5f;
}
.flat-demo.mono .timeline-icon {
    border: 1px solid #5f5f5f;
}
.flat-demo.mono .portfolio-filter .pill-button {
    background-color: transparent;
    border: none;
    color: #3c3c3c!important;
}
.flat-demo.mono .portfolio-filter .pill-button.active, .flat-demo.mono .portfolio-filter .pill-button:hover {
    color: #fafafa !important;
    background-color: #3c3c3c;
}
.flat-demo.mono .social-icon a:hover {
    color: #3c3c3c;
    box-shadow: none;
}

/*-------------------------
    Mono Flat Demo Dark
-------------------------*/
.flat-demo.dark-demo.mono .pill-button {
    background-color: #fafafa;
    border: 1px solid #fafafa;
    color: #5f5f5f !important;
}
.flat-demo.dark-demo.mono .pill-button:hover {
    background-color: #e3e5d2;
    border: 1px solid #e3e5d2;
}
.flat-demo.dark-demo.mono .skill-box .fill-skillbar{
    background-color: #e3e5d2;
}
.flat-demo.dark-demo.mono .skill-box .skillbar {
    background-color: #1f2022;
}
.flat-demo.dark-demo.mono .timeline-area::before {
    background-color: #fafafa;
}
.flat-demo.dark-demo.mono .timeline-icon {
    border: 1px solid #fafafa;
}
.flat-demo.dark-demo.mono .portfolio-filter .pill-button {
    background-color: transparent;
    border: none;
    color: #e3e5d2 !important;
}
.flat-demo.dark-demo.mono .portfolio-filter .pill-button.active,
.flat-demo.dark-demo.mono .portfolio-filter .pill-button:hover {
    color: #3c3c3c !important;
    background-color: #e3e5d2;
}
.flat-demo.dark-demo.mono .social-icon a:hover {
    color: #acacac;
    box-shadow: none;
}









